body{
    font-family: 'Poppins', sans-serif;
}
.pic img{
    height: 150px;
    width: 150px;
    margin: 5px 44%;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
h4::before{
    content: "'' ";
    color: darkgoldenrod;
    font-size: 30px;
}
h4::after{
    content: " ''";
    color: darkgoldenrod;
    font-size: 30px;
}
.all-review{
        box-shadow: 5px 5px 10px gray;
        border-radius: 10px;
        height: 50%;
        margin: 10px 70px;
}
.all-review:hover{
    background-color: lightyellow;
    transform: scale(1.1);
}
footer p{
    text-align: center;
    font-size: 12px;
}
.upper a{
    text-decoration: none;
    background-image: linear-gradient(180deg, chocolate, darkgoldenrod);
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    font-weight: 300;
    margin: 10px 20px 100px 200px;
}
.upper{
    margin-top: 30px;
    margin-bottom: 50px;
}